node_modules
npm-debug.log
yarn-error.log

dist
build

.git
.gitignore

.dockerignore
Dockerfile

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db

coverage

logs
*.log